{% extends "base.html" %}

 
{% block title %}Home{% endblock %}
 
{% block main %}
      
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Resources Management System</h1>
        <h3>For</h3>
        <h3>Computer Science and Engineering Department</h3>
        
      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>About</h2>
          <p>Resources Management System (RMS) is software system that enables online booking of resources by users which includes students, faculty as well as staff. Resources list can contain: Seminar/ Conference halls, projectors and labs etc. </p>
          
        </div>
        <div class="span4">
          
       </div>
        <div class="span4">
          
          <p><a href="/login/"><button  class="btn btn-large btn-block btn-primary" type="button">Login / Register</button></a>
<hr>
                  
				  
                  <a href="/guest/"><button  class="btn btn-large btn-block" type="button">Guest Area</button></a> </p>
				
				  
        </div>
      </div>

      <hr>

{% endblock %}