<div class="row">
          <div class="col-md-6 col-md-offset-3">

              <h1 class="margin-base-vertical">RMS Source & Credits</h1>
              <p> These are some of the people who have contributed to successful deployment of Resource Management System </p>
              <h3>Developer</h3>
              <ul>
                <li>Roshan Piyush,
                  Student, NITC</li>
                <li>Sivam Sood,
                 Student, NITC</li>
                <li>Monica Dhingra,
                 Student, NITC</li>
              </ul>
              <hr/>
              <h3>Guide</h3>
              <ul>  
                Vineet Paleri,
                Professor, CSED, NITC
              </ul>
              <hr/>
              <h3> Maintainers</h3>
              <ul>
                Aswathy Ajith
              </ul>
              <hr/>
              <hr/>
              <h3>Sources</h3>
              <p>This product is licenced under GPL V3. You are free to use/modilfy/distribute this product.</p>
              <p>Source code of RMS can be obtained from <a href="https://github.com/cseanitc/cse.rms">https://github.com/cseanitc/cse.rms</a></p>
          </div>
 </div>